<%= render 'shared/navbar' %>
<div class="home-column">
  <% if @businesses %>
    <% @businesses.each do |biz| %>
      <div class="home-column-panel">
      <ul>
        <h1><%= biz.name %></h1>
        <h2><%= link_to "#{biz.name} Home page", clean_url(biz.url), target: "_blank" %></h2>
        <li><%= "Address: #{biz.location}" %></li>
        <li><%= "lat: #{biz.latitude}, lon: #{biz.longitude}" %></li>
        <li><%= biz.description %></li>
        <p>
        <%= link_to 'View business', business_path(biz.id), class: "inlinebutton" %>
        <%= link_to 'Edit business', edit_business_path(biz), class: "inlinebutton" %>
        <%= link_to "Delete business", business_path(biz.id), method: :delete, data: { confirm: "This will delete #{biz.name} and all associated resources. Are you sure?" }, class: "inlinebutton" %>
        </p>
        </ul>
      </div>
    <% end %>
  <% end %>
  <div class="home-column-panel">
    <%= link_to "New business", new_business_path, class: "home-column-surface" %>
  </div>
</div>