
<div class="container">
  <%= render 'shared/navbar' %>
  <div class="display homepage">
    <%= render 'shared/logo' %>
    <h1>Partage</h1>
    <h2>Welcome to an exciting new concept in business resource sharing.</h2>
    <p>Watch this space, I promise great things are afoot.</p>
  </div>
</div>
<div class="container" style="min-height:100vh;">
  <%= render 'about_page1' %>
</div>
<div class="container" style="min-height:100vh;">
  <%= render 'about_page2' %>
</div>
<div class="container" style="min-height:100vh;">
  <%= render 'about_page3' %>
</div>
<div class="container" style="min-height:100vh;">
  <%= render 'about_page4' %>
</div>
<div class="container" style="min-height:100vh;">
  <%= render 'about_page5' %>
</div>
</div>
