<%= tag.div class: (divclass || "") do %>
  <h1>
    <%= resource.name %>
  </h1>
  <p class="wrap-25vw">
    <%= "Description: #{resource.description}" %>
  </p>
  <%= image_tag get_picture(resource.picture) %>
  <ul class="inline-list">
    <li><%= link_to 'View', business_resource_path(business,resource), class: "inlinebutton" %></li>
    <li><%= link_to 'Edit', edit_business_resource_path(business,resource), class: "inlinebutton" %></li>
    <li class="righthand"><%= link_to "Delete", resource_path(resource), method: :delete, data: { confirm: "This will delete #{resource.name} and all associated agreements. Are you sure?" }, class: "inlinebutton" %></li>
  </ul>
<% end %>
