<%= tag.div class: (divclass || "") do %>
  <h1>
    <%= resource.name %>
  </h1>
  <h3 class="wrap-text">
    <%= "#{business.suburb}, #{business.county}" %>
  </h3>
  <p class="wrap-text">
    <%= "Description: #{resource.description}" %>
  </p>
  <%= image_tag get_picture(resource.picture) %>
  <ul class="inline-list">
    <li><%= link_to 'View', resource_path(resource), class: "inlinebutton" %></li>
    <%# if can? :edit, resource %>
    <% if @current_userid == business.user_id %>
      <% puts "user can edit this resource" %>
      <li><%= link_to 'Edit', edit_business_resource_path(business,resource), class: "inlinebutton" %></li>
      <li class="righthand"><%= link_to "Delete", resource_path(resource), method: :delete, data: { confirm: "This will delete #{resource.name} and all associated agreements. Are you sure?" }, class: "inlinebutton" %></li>
    <% else %>
      <% puts "user cannot edit this resource" %>
      <li class="righthand"><%= link_to "I'm interested!", new_resource_agreement_path(resource), class: "inlinebutton" %>
    <% end %>
  </ul>
<% end %>
