<div class="home-column-surface">
  <%= form_with model: [ @business, @business.resources.build ], local: true do |form| %>
      <div class="form-input">
        <%= form.label :name %>
        <%= form.text_field :name, placeholder: "Office space, 12sqm in Brunswick", size: 55 %>
      </div>
      <div class="form-input">
        <%= form.label :description %>
        <%= form.text_area :description, placeholder: "busy northside workspace has a spare side office in it's own 4x3m room with aircon, power, a phone and a desk already installed.", cols: 50, rows: 10 %>
      </div>
      <div class="form-input">
        <%= form.label :description %>
        <%= form.text_field :picture, placeholder: "www.toebeans.com.au", size: 55 %>
      </div>      
      <div class="form-input">
        <%= form.submit %>
      </div>
  <% end %>
</div>