<div class="home-column-inset full-width-panel left">
  <ul>
    <h2>
      <%= Resource.find(agreement.resource_id).name %>
    </h2>
    <li class="wrap-text">
      <%= "Price: #{agreement.price}" %>
    </li>
    <li class="wrap-text">
      <%= "Contractual terms: #{agreement.terms}" %>
    </li>
    <p>
      <%= link_to "View agreement", user_agreement_path(current_user.id,agreement.id), class: "inlinebutton" %>
      <%= link_to "Delete agreement", user_agreement_path(current_user.id,agreement.id), method: :delete, data: { confirm: "This action will delete this agreement. Are you sure?" }, class: "inlinebutton" %>
    </p>
    </ul>
</div>
