<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Partage - Stronger businesses, together.</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <% if flash[:notice] %>
    <p class="notice"><%= notice %></p>
  <% end %>
  <% if flash[:alert] %>
    <p class="alert"><%= alert %></p>
  <% end %>
  <div class="container">
  <%= yield %>
  </div>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  
</body>

</html>
